In [17]:
import pandas as pd
data = {
    'name':["gopal","Reddy",None,"superman","goapl"],
    'age':[20,23,99,None,99],
    'work':['remort',None,'user man','stap','so']
}
df = pd.DataFrame(data)

df.to_csv("raw_logs.csv", index=False)
print("Raw log file created")

Raw log file created

In [18]:
print(df.info())
print(df.isnull().sum())

<class 'pandas.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    4 non-null      str
 1   age     4 non-null      float64
 2   work    4 non-null      str
dtypes: float64(1), str(2)
memory usage: 252.0 bytes
None
name    1
age     1
work    1
dtype: int64

In [19]:
df = df.drop_duplicates()
print(df)

# handle missing values
df['age'] = df['age'].fillna(df['age'].mean())
df['name'] = df['name'].fillna('unknown')
df['work'] = df['work'].fillna('unknown')

# clean text
df['name'] = df['name'].str.strip().str.lower()
df['work'] = df['work'].str.strip().str.lower()

# fix datatype
df['age'] = df['age'].astype(int)

       name   age      work
0     gopal  20.0    remort
1     Reddy  23.0       NaN
2       NaN  99.0  user man
3  superman   NaN      stap
4     goapl  99.0        so

In [20]:
df.to_csv("cleaned_raw_logs.csv", index=False)
print("Cleaned raw logs saved successfully")

Cleaned raw logs saved successfully

In [21]:
df = pd.read_csv("cleaned_raw_logs.csv")
print(df)

       name  age      work
0     gopal   20    remort
1     reddy   23   unknown
2   unknown   99  user man
3  superman   60      stap
4     goapl   99        so