In [1]:
import numpy as np
import pandas as pd

np.random.seed(10)

sales_30 = pd.DataFrame({
    "Day": np.arange(1,31),
    "Sales": np.random.normal(50000, 8000, 30)
})

sales_30

    Day         Sales
0     1  60652.692033
1     2  55722.231795
2     3  37636.797663
3     4  49932.929201
4     5  54970.687791
5     6  44239.315514
6     7  52124.092686
7     8  50868.388206
8     9  50034.331447
9    10  48603.198315
10   11  53464.209520
11   12  59624.298990
12   13  42279.474636
13   14  58226.192624
14   15  51829.041041
15   16  53561.100903
16   17  40907.182305
17   18  51081.095028
18   19  61876.296015
19   20  41361.560914
20   21  34178.173755
21   22  36053.021633
22   23  52128.561312
23   24  69079.738646
24   25  58989.530027
25   26  63380.977706
26   27  50793.193727
27   28  61183.971017
28   29  47830.016096
29   30  54905.633479

In [2]:
mean = sales_30["Sales"].mean()
median = sales_30["Sales"].median()
mode = sales_30["Sales"].mode()[0]

print("Mean:", mean)
print("Median:", median)
print("Mode:", mode)

Mean: 51583.93113412221
Median: 51976.566863267115
Mode: 34178.173754736745

In [3]:
std = sales_30["Sales"].std()
var = sales_30["Sales"].var()

print("Standard Deviation:", std)
print("Variance:", var)

Standard Deviation: 8436.648474740268
Variance: 71177037.4863373

In [4]:
sales_30["Ad_Spend"] = np.random.normal(20000, 3000, 30)

correlation = sales_30[["Sales","Ad_Spend"]].corr()
print(correlation)

          Sales  Ad_Spend
Sales     1.000     0.194
Ad_Spend  0.194     1.000

In [ ]:
np.random.seed(30)

waiting_time = pd.DataFrame({
    "Waiting_Time": np.random.exponential(20, 150)
})

In [5]:
import seaborn as sns
import matplotlib.pyplot as plt

sns.boxplot(y=salary_data["Salary"])
plt.title("Salary Distribution")
plt.show()

NameError: name 'salary_data' is not defined

In [ ]:
skewness = waiting_time["Waiting_Time"].skew()
print("Skewness:", skewness)

In [ ]:
variance = waiting_time["Waiting_Time"].var()
range_val = waiting_time["Waiting_Time"].max() - waiting_time["Waiting_Time"].min()

print("Variance:", variance)
print("Range:", range_val)

In [ ]:
Q1 = waiting_time["Waiting_Time"].quantile(0.25)
Q3 = waiting_time["Waiting_Time"].quantile(0.75)

IQR = Q3 - Q1

lower = Q1 - 1.5 * IQR
upper = Q3 + 1.5 * IQR

outliers = waiting_time[(waiting_time["Waiting_Time"] < lower) | 
                        (waiting_time["Waiting_Time"] > upper)]

print("Outliers:\n", outliers)